body{
    background-color:rgb(19, 19, 20);
    color: aliceblue;
    margin: 0;
    font-family: 'VT323', monospace;
}

.box{
    display: grid;
    width: 30%;
    background: plum;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15px 50px 30px 5px;
    transition: background 0.7s;
}

#container{
    max-width: 600px;
    margin: 0 auto;
    padding-top: 9%
}

.displayColor{
    font-size: 200%;
}

h1{
    text-align: center;
    background-color: rgb(155, 9, 77);
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.1;
    padding-bottom: 25px;
    padding-top: 25px
    
}

#score{
    color: black;
    display: inline-block;
    width: 20%;
}

.bar{
    height: 40px;
    background: whitesmoke;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
.level{
    background-color: rgb(155, 9, 77);
}

button{
    border-radius: 10px 100px / 120px;
    border: none;
    background: rgba(37, 15, 26, 0.849);
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    color: whitesmoke;
    
}

button:hover{
    background:  rgb(155, 9, 77);
}